* {
    box-sizing: border-box;
}

@font-face {
    font-family: ArtDeco;
    src: url("../artisual_deco_2/ArtisualDecoBlack_PERSONAL_USE_ONLY.otf");
  }

  
body {background-color: #dcdcb8;


}

h1
{
    text-align: center;
    font-family: ArtDeco;
    color: #4E6E6B;
    font-size: 100px;
}

h2
{
    text-align: center;
    color: #AC7C46;
    

}

.bg-company-red {
    background-color: #829775 !important;
}

img
{
   
    max-width: 100%;
    height: auto;
  
}

video {
    width: 100%;
    height: auto;
  }

  .center{
    display: flex;
    align-items: center;
    justify-content: center;
    }